
.featureSlide {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  min-height: 400px;
  position: relative;
  background-color: yellow;
    border-radius: 20px;
    overflow: hidden;
}

.featureDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.featureHeading {
    font-weight: bold;
    text-align: center;
}

.featurePicture {
  background-image: url(../images/bike/rear_side.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.one {
    background-image: url(../images/bike/brakes.jpg);
}

.two {
    background-image: url(../images/bike/rear.jpg);
}

.three {
    background-image: url(../images/bike/front.jpg);
}

.four {
    background-image: url(../images/bike/rear_side.jpg);
}

.five {
    background-image: url(../images/bike/rear.jpg);
}

.six {
    background-image: url(../images/bike/rear_side.jpg);
}

.seven {
    background-image: url(../images/bike/rear_side.jpg);
}

.eight {
    background-image: url(../images/bike/side.jpg);
}

.nine {
    background-image: url(../images/bike/rear.jpg);
}

.ten {
    background-image: url(../images/bike/side.jpg);
}

.eleven {
    background-image: url(../images/bike/front.jpg);
}

